// Tabs
.Tabbar {
    transition: all 0.3s;
}
// /Tabs

// Header
.Header {
    user-select: none;
}

.PanelHeader__left {
    color: #ffffff;
}

.PanelHeader__content {
    color: #ffffff;
}
// /Header