// Tabs
.Tabs {
    //
    &--ios {
        background: none!important;
        .TabsItem {
            //
            &--selected {
                //
                .TabsItem__in {
                    color: #ffffff;
                }
            }
        }
    }
    .TabsItem__in {
        user-select: none;
    }
}
.Tabbar {
    transition: all 0.3s;
}
// /Tabs

// 
.Header {
    user-select: none;
}
//