:root {
    // Main
    --background_page: #f5f6fa;
    --text_primary: #233756;

    // Header
    --header_background: #8b44f7;

    // Tabbar
    --tabbar_active_icon: #4454ff;

    // Counter
    --counter_primary_background: #4454ff;
}